# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build directory
build/

# CMake specific files
CMakeFiles/
cmake_install.cmake
Makefile

# User-specific files
CMakeLists.txt.user

# Temporary files (e.g., swap files or logs)
*.swp
*.log

# MovieTag bin in package
MovieTagPackage/bin/MovieTag
